body{
    background: url(gufeng.jpeg);
    background-size: 100%;
  }
	      .black1{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(25.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size: 100%;
 background-color: red;
float: left;
opacity: .6
	}
        .black2{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(02.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
  }
        .black3{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(03.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }
        .black4{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(04.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }     
        .black5{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(05.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }
        .black6{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(06.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }
        .black7{ 
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(07.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }
        .black8{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(08.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }
        .black9{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 5%;
background: url(99.jpg);
/*background: rgba(200,200,200,0.5);*/
background-size:100% 100%;
float: left;
opacity: .6
   }